
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ingenius Technologies and Consulting PTE. LTD.</title> 
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script defer src="//use.fontawesome.com/releases/v5.3.1/js/all.js"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.min.js"> </script>
    <script src="./sketch.js"></script>
    <link rel="stylesheet" href="helpers.css">
    {{ style('build/app') }}
  </head>
  <body class="has-navbar-fixed-topx">
    @include('partials.navbar')  
 
  
  <section class="hero is-fullheight" id="home">
    <div id="mainCanvas" class="is-overlay"></div>
    <div class="hero-body ">
      <div class="container ">
        <h1 class="is-size-1 has-text-white animated slideInLeft  ">
          Ingenius Technologies
        </h1> 
        <div class="title is-4 has-text-white pulse animated infinite slow space sp5">TRUSTED.PROVEN.FAST</div>
        <h2 class="subtitle has-text-white animated slideInUp slow mt-20">
          Artificial Intelligence | ERP | Digital Service Provider
        </h2>
        <button class="button is-primary is-outlined is-medium mt-10 contB">CONTACT US</button>       
      </div>
    </div>
  </section>

  <section class="hero" style="background:#ffe2d1;" >
    <div class="hero-body mb-50">
      <div class="container ">
        <h1 class="title is-1 pt-50 ">
          Our Statistics
        </h1>
        <div class="content pt-50">
          <div class="columns">
            <div class="column">
              <div class="notification bord has-text-centered" >
                <div class="title is-2 pa-20">
                  20+
                </div>
                <h1 class="title is-5 has-text-weight-light">
                  Years of Experience
                </h1>
              </div>
            </div>
            <div class="column">
              <div class="notification bord has-text-centered" >
                <div class="title is-2 pa-20">
                  20+
                </div>
                <h1 class="title is-5 has-text-weight-light">
                  Qualified Experts
                </h1>
              </div>
            </div>
            <div class="column">
              <div class="notification bord has-text-centered" >
                <div class="title is-2 pa-20">
                  10+
                </div>
                <h1 class="title is-5 has-text-weight-light">
                  Patents
                </h1>
              </div>
            </div>
            <div class="column">
              <div class="notification bord has-text-centered" >
                <div class="title is-2 pa-20">
                  4+
                </div>
                <h1 class="title is-5 has-text-weight-light">
                  Countries
                </h1>
              </div>
            </div>
          </div>
          
        </div>

       <div class="content mt-50 mb-50">          
          <blockquote class="is-primary">
            <p>we believe the power of good advice is</p>
             <p class="is-size-4  animated slideInRight" >PRICELESS</p>
          </blockquote>
        </div>  
      </div>
    </div>
  </section>



  <section class="hero bg1" id="technologies">
    <div class="hero-body mb-50">
      <div class="container ">
        <h1 class="title is-1 has-text-white pt-50">
          Technologies
        </h1>
        <div class="content pt-50">
          <div class="columns">
            <div class="column">
              <div class="notification is-transparent has-text-centered" >
                <div class="title has-text-white is-2 pa-20">
                  <img src="ai.webp" style="height:70px;">
                </div>
                <h1 class="title sp5 has-text-white is-5">
                  ARTIFICIAL INTELLIGENCE
                </h1>
              </div>
            </div>

            <div class="column">
              <div class="notification is-transparent has-text-centered " >
                <div class="title has-text-white is-2 pa-20">
                  <i class="fas fa-cogs" style="font-size:70px;"></i>
                </div>
                <h1 class="title sp5 has-text-white is-5">
                  SAP ERP
                </h1>
              </div>
            </div>

            <div class="column">
              <div class="notification is-transparent has-text-centered" >
                <div class="title has-text-white is-2 pa-20">
                  <i class="fas fa-tv" style="font-size:70px;"></i>
                </div>
                <h1 class="title sp5 has-text-white is-5">
                  DIGITAL
                </h1>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="hero" style="background:#ffffff;" id="services">
    <div class="hero-body mb-50">
      <div class="container ">
        <h1 class="title is-1 pt-50 ">
          Services
        </h1>
        <h2 class="title is-5  pulse animated  slow space " style="letter-spacing:3px;">
          <b>SUSTAINABLE.PERFORMANCE.REDEFINED</b>
        </h2>
        <div class="content pt-50">
          <div class="columns ">
            <div class="column">
              <div class="notification has-text-white is-primary has-text-centered "  >
                <div class="title is-2 pa-20">
                  <i class="fas fa-hands-helping" style="font-size:70px;"></i>
                </div>
                <h1 class="title is-6 sp5">
                  ADVISORY SERVICES
                </h1>
              </div>
            </div>
            <div class="column">
              <div class="notification has-text-white is-primary  has-text-centered" >
                <div class="title is-2 pa-20 ">
                  <i class="fas fa-project-diagram " style="font-size:70px;"></i>
                </div>
                <h1 class="title is-6 sp5">
                  IMPLEMENTATION SERVICES
                </h1>
              </div>
            </div>
            <div class="column">
              <div class="notification has-text-white is-primary has-text-centered" >
                <div class="title is-2 pa-20">
                  <i class="fas fa-user-tie" style="font-size:70px;"></i>
                </div>
                <h1 class="title  sp5 is-6">
                  SUPPORT SERVICES
                </h1>
              </div>
            </div> 
          </div> 
        </div> 
      </div>
    </div>
  </section>

  <section class="hero" style="background:#ffe2d1;" >
    <div class="hero-body mb-50">
      <div class="container ">
        <h1 class="title is-1 pt-50 ">
          Our Clients
        </h1>
        <figure class="image">
          <img src="/clients.png" alt="Clients">
        </figure>       
    </div>
  </section>


  <section class="hero" id="aboutus">
    <div class="hero-body mb-50">
      <div class="container ">
        <h1 class="title is-1 pt-50 ">
          About us
        </h1>
        <div class="content">
          <div class="content mt-50 mb-50">          
            <blockquote class="is-primary">
              <p class="is-size-5">WE ARE FOUNDED ON THE BELIEF</p>
               <p class="" >that we have far exceeded the human threshold for interpreting all the data we’re surrounded with, and that machine-augmented human intelligence will drive break-through levels of engagement and productivity. We are building systems of insights that learn a domain based on the best available data, engage users with personalized insights, and get better and more immersive with time.</p>
            </blockquote>
          </div>            
        </div>
        
        <div class="columns">
          <div class="column ">
            <div class="card bord ">
              <div class="card-image mt-20 center">
                <figure class="image is-128x128">
                  <img src="./rahul.png" alt="Rahul Bhat">
                </figure>
              </div>
              <div class="card-content content is-small">
                <div><b>Dr. RAHUL BHAT</b></div>
                <div>Director</div>
                <div><small>Domain expert IIT, multiple patent holder, Professor</small> </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card bord ">
              <div class="card-image mt-20 center">
                <figure class="image is-128x128">
                  <img src="./ava.png" alt="AVADHOOT">
                </figure>
              </div>
              <div class="card-content content is-small">
                <div><b>AVADHOOT JATHAR</b></div>
                <div>Chief Data Scientist</div>
                <div ><small>Fellow / visting faculty IIM</small> </div>
              </div>
            </div>
          </div>
          <div class="column"></div>
        </div>
    </div>
  </section>

 


  @include('partials.footer')
  {{ script('build/app') }}
  </body>
</html>