 
<div class="has-background-info shadow" style="position:fixed; width:100%; bottom:0; ">
  <div class="columns is-vcentered is-mobile" style="margin:0;">
    <button class="column button fb">button</button>
    <button class="column button fb">button 2</button>
    <button class="column button fb">button 3</button>
    <button class="column button fb">button 4</button>
  </div> 
</div>


 