.navbar-item {
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 90%;
}

.nav-logo {
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 150%;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
